PORT=5000
MONGODB_URI=mongodb+srv://<db_username>:tETbX9zDrGl9XsEq@cluster0.hsxsvgb.mongodb.net/
JWT_SECRET=change_this_to_a_long_random_secret
JWT_EXPIRES_IN=7d
JWT_COOKIE_EXPIRES_IN=7
CLIENT_URL=http://localhost:3000
NODE_ENV=development
